[*.{cpp,h}]
charset = utf-8
[*.{cpp,h,hpp,hlsl,hlsli}]
#スペルミスをintellisense上での「エラ一」として扱う
spelling_error_severity = error
#チエック対象を「識別子(変数名なと)」と「コメント」に限定する
spelling_checkable_types = identifiers,comments
#辞書を英語(米国)に固定する
spelling_languages = en-us
#自分の辞書を作れるように標準の除外辞書設定はそのまま使用
spelling_use_default_exclusion_dictionary = true
#自分の除外辞書を指定
spelling_exclusion_path =./exclusion.dic